@import 'src/styles/base';

.dateHeader {
  border-radius: 8px 8px 0px 0px;
  color: $datePurple;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 25px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $greyBackground;
  text-align: center;
}

.leftColumnContainer {
  width: 350px;
  float: right;
}

.rightColumnContainer {
  width: 350px;
  float: left;
}

.contentContainer {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 25px;
  border: 2px solid $greyBackground;
}

@media (max-width: $desktopBreakpoint) {
  .leftColumnContainer {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

  .rightColumnContainer {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}
