@import 'src/styles/base';

.container {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.title {
  font-size: 2.5em;
  border-bottom: 6px solid #96cb96;
  text-align: center;
  display: inline-block;
  color: $headerDarkGray;
  font-weight: 700;
  margin-left: 50%; /* From parent width */
  transform: translateX(-50%); /* use self width which can be unknown */
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-family: 'Montserrat', sans-serif;
}
