@import 'src/styles/base';

.mapRow {
  padding-top: 30px;
}

.caption {
  text-align: center;
}

.imageBoxSingle {
  padding-left: 5vw;
  padding-top: 5vh;
}

.imageBoxLeft {
  padding-left: 3vw;
  padding-top: 5vh;
}

.imageBoxRight {
  padding-left: 1vw;
  padding-right:3vw;
  padding-top: 5vh;
}

.imageSingle {
  width: 80%;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
}
