@import 'src/styles/base';

@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Light'), local('Montserrat-Light'),
      url(static/fonts/montserrat-light.woff) format('woff'),
      url(static/fonts/montserrat-light.ttf) format('truetype');
}

.container {
  padding-top: 30px;  
  display: flex;
  flex-direction: column;
}

.titleContainer, .infoContainer {
  transform: translateX(20px);
  float: left;
  font-size: 15px;
  text-align: left;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 300px;
}

.title {
  color: $acceptedBlue;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.05em;
  font-family: "Avenir Next", sans-serif;
}

.speaker, .text {
  display: inline;
  letter-spacing: 0.5px;
}

.speaker {
  font-weight: 500;
}

.text, .time {
  color: #4A4A4A;
  font-weight: 400;
}

.time, .speaker, .text {
  font-family: "Avenir Next", sans-serif;
  font-size: 1em;
}