/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

$navMenuWidth: 270px;
$desktopNavMenuWidth: 25%;

$navLight: #192738;
$navDark: #0f1b27;
$navMedium: #162330;

$greyBackground: #f0f0f0;
$lightGrey: #dedede;
$lightestGrey: #f9f9fc;
$lighterGrey: #a9a6a6;
$locationGray: #9b9b9b;
$inputGray: #f0f0f0;
$loginBlue: #33a4f4;
$loginGray: #c5c5c5;

$aboutBlack: #4a4a4a;

$timePink: #2b2b2b;
$datePurple: #463179;
$standardText: #4a4a4a;
$headerGray: #cdccce;
$headerDarkGray: #2b2b2b;
$acceptedBlue: #5c5299;
$expiredRed: #ff6d78;
$waitlistGreen: #21e1c9;

$datasetHeaderGrey: #4a4a4a;
$datasetBlurbGrey: #4f4f4f;
$viewButtonBlue: #5c5299;
$viewTextWhite: #f9f9fc;

$tabletBreakpoint: 767px;

$desktopBreakpoint: 992px;

$bodyFontSize: 16px;
