@import 'src/styles/base';

.section {
  padding-top: 20px;
}

.sectionText {
  letter-spacing: 0.2px;
  text-align: left;
  padding-top: 5px;
  color: $aboutBlack;
  line-height: 2em;
  font-size: 1em;
}

.sectionHeader {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1.5em;
  color: $aboutBlack;
}

.link {
  padding: 0;
  cursor: pointer;
}
