@import 'src/styles/base';

.section {
  padding-top: 20px;
}

.sectionText {
  text-align: left;
  padding-top: 5px;
  color: $aboutBlack;
  line-height: 2em;
  font-size: $bodyFontSize;
}

.sectionHeader {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1.5em;
  color: $aboutBlack;
}

.link {
  padding: 0;
  cursor: pointer;
  color: $acceptedBlue !important;
  text-decoration: underline;
}
