@import 'src/styles/base';

.container {
  padding-top: 30px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.timeContainer {
  transform: translateX(20px);
  float: left;
  font-size: 18px;
  text-align: left;
  padding-left: 12px;
  width: 100px;
}

.time {
  color: $timePink;
  font-weight: bold;
}

.infoContainer {
  transform: translateX(40px);
  float: right;
  text-align: left;
  width: 175px;
}

.title {
  color: $dateGreen;
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 18px;
}

.location {
  font-size: $bodyFontSize;
  color: $locationGray;
}

.speaker {
  padding-bottom: 3px;
  font-size: $bodyFontSize;
}

.link {
  font-size: $bodyFontSize;
  padding-bottom: 2px;
}
