@import 'src/styles/base';

.container {
  padding-top: 30px;  
  display: flex;
}

.timeContainer {
  transform: translateX(20px);
  float: left;
  font-size: 15px;
  text-align: left;
  padding-left: 12px;
  width: 100px;
}

.time {
  color: $timePink;
}

.infoContainer {
  transform: translateX(40px);
  float: right;
  font-size: 16px;
  text-align: left;
  width: 175px;
}

.title {
  color: $acceptedBlue;
  padding-bottom: 2px;
}

.location {
  font-size: 14px;
  color: $locationGray;
}

.speaker {
  padding-bottom: 3px;
  font-size: 15px;
}

@media (min-width: $tabletBreakpoint) {

  

}
