@import 'src/styles/base';

.navMenu {
  background-color: #5c5299;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  overflow: auto;
  width: $navMenuWidth;
  height: 100vh;
  position: fixed;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  z-index: 999;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.0333), 0 0 40px rgba(0, 0, 0, 0.075);
}

.menuButton {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: none;
  border: none;
  box-shadow: none;
  display: inline-block;
  overflow: auto;
  position: fixed;
  top: 10px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  z-index: 999;
}

.menuButton:focus {
  outline: none;
}

.menuButton img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.navMenu img {
  display: block;
  margin: 0 auto;
  padding: 75px 0 30px 0;
  width: 50%;
}

.menuItem {
  text-align: center;
  padding: 8px 0;
}

.linkElement,
.linkElement:active,
.linkElement:visited,
.linkElement:link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.66);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-left: 0px solid transparent;
  padding: 12px 0;
  transition: color 0.2s, border-left 0.2s;
}

.activeLinkElement,
.linkElement:hover {
  border-left: 6px solid #fff !important;
  color: #fff !important;
}

.linkElement:hover {
  cursor: pointer;
}

@media (min-width: $tabletBreakpoint) {
  .navMenu {
    width: $desktopNavMenuWidth;
    box-shadow: none;
  }

  .navMenu img {
    padding: 12vh 0 5vh 0;
  }

  .menuButton {
    display: none;
  }

  .linkElement,
  .linkElement:active,
  .linkElement:visited,
  .linkElement:link {
    font-size: 1.2em;
  }
}
