@import 'src/styles/base';

.container {
  padding-top: 10px;
}

.headerContainer {
  padding: 0 25px;
  text-align: center;
}

.header {
  font-size: $bodyFontSize;
  color: $dateGreen;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.blurbContainer {
  padding: 30px;
  text-align: left;
}

.blurb {
  font-size: $bodyFontSize;
  color: $datasetBlurbGrey;
  line-height: 18px;
  font-weight: 400;
}

.viewButtonContainer {
  margin-right: 25px;
  float: right;
}

.viewButton {
  background-color: $dateGreen;
  color: $viewTextWhite;
  font-size: $bodyFontSize;
  border-radius: 25px;
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.viewButtonLink,
.viewButtonLink:hover,
.viewButtonLink:active,
.viewButtonLink:visited,
.viewButtonLink:link {
  text-decoration: none;
}

@media (min-width: $tabletBreakpoint) {
}
