@import 'src/styles/base';

@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Light'), local('Montserrat-Light'),
      url(static/fonts/montserrat-light.woff) format('woff'),
      url(static/fonts/montserrat-light.ttf) format('truetype');
}

.leftColumnContainer {
  width: 400px;
  float: right;
}

.rightColumnContainer {
  width: 400px;
  float: left;
}

.contentContainer {
  border-radius: 8px;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 25px;
  border: 2px solid $greyBackground;
  float: right;
}

@media (max-width: 1200px) {

  .leftColumnContainer {
    width: 300px;
    float: right;
  }

  .rightColumnContainer {
    width: 300px;
    float: left;
  }

}

@media (max-width: $desktopBreakpoint) {

  .leftColumnContainer {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

  .rightColumnContainer {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

}
