@import 'src/styles/base';

@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Light'), local('Montserrat-Light'),
      url(static/fonts/montserrat-light.woff) format('woff'),
      url(static/fonts/montserrat-light.ttf) format('truetype');
}

.dateHeader {
  border-radius: 8px 8px 0px 0px;
  color: $datePurple;
  font-family: "Montserrat Light", sans-serif;
  font-size: 25px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $greyBackground;
  text-align: center;
}

.leftColumnContainer {
  width: 400px;
  float: right;
}

.rightColumnContainer {
  width: 400px;
  float: left;
}

.contentContainer {
  border-radius: 8px;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 25px;
  border: 2px solid $greyBackground;
}



@media (max-width: $desktopBreakpoint) {

  .leftColumnContainer {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

  .rightColumnContainer {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

}
