@import 'src/styles/base';

.container {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 18px;
}

.preDelimiter {
  padding-top: 5px;
  font-size: 15px;
  font-family: 'Montserrat Light', sans-serif;
}

.afterDelimiter {
  font-size: 15px;
  display: inline-block;
  padding-top: 5px;
  font-family: 'Montserrat Light', sans-serif;
}
